<% content_for :intro do %>
  <div class="container">
    <div class="jumbotron">
      <h1>Never miss a task</h1>
      <p>REMbooth allows you to configure awesome reminders for your Redbooth tasks using you Twitter account!</p>
      <div><%= link_to 'Sign in with Redbooth', user_omniauth_authorize_path(:redbooth), class: 'btn btn-login' %></div>
    </div>
  </div>
<% end %>