<div class="container-fluid header-fluid">
  <div class="container">
    <h2>Please link your Twitter account</h2>
    <p>Link your Twitter account to receive notifications for you reminders:</p>
    <%= link_to 'Link Twitter account!', '/users/auth/twitter', class: 'btn btn-login' %>
  </div>
</div>
