<% content_for :intro do %>
  <div class="container">
    <div class="jumbotron">
      <h1>Never miss a task</h1>
      <p>REMbooth allows you to configure awesome reminders for your Redbooth tasks using you Twitter account!</p>
      <div><%= link_to 'Sign in with Redbooth', user_omniauth_authorize_path(:redbooth), class: 'btn btn-login' %></div>
    </div>
  </div>
<% end %>
<br>
<div class="steps">
  <div class="row">
    <div class="col-md-3">
      <div class="step">
        <h2><span>{</span>1</h2>
        <div>Add some stuff to a task list in <a href="https://redbooth.com">Redbooth</a>. Yes, you can do it during your working hours!</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="step">
        <h2><span>{</span>2</h2>
        <div>Configure a reminder for the task list in REMbooth with just one click!</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="step">
        <h2><span>{</span>3</h2>
        <div>Link your Twitter account so we can store your personal information!</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="step">
        <h2><span>{</span>4</h2>
        <div>Now you are ready for getting distressing reminders during your free time!</div>
      </div>
    </div>
  </div>
</div>