<div class="jumbotron">
  <h1>Don't miss a task</h1>
  <p>REMbooth allows you to configure awesome reminders for your Redbooth tasks using you Twitter account!</p>
  <%= link_to 'Sign in with Redbooth', user_omniauth_authorize_path(:redbooth), class: 'btn btn-login' %>
</div>

