<% if user_signed_in? %>
  <%= render 'dashboard' %>
<% else %>
  <%= render 'anonymous' %>
  <div class="well well-sm">
    Crafted by <a href="http://nosolopau.com">@nosolopau</a>. Fork me <a href="https://github.com/nosolopau/rembooth">on GitHub</a>.
  </div>
<% end %>