@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.steps {
  .step {
    h2 {
      margin-top: 0.2em;
      margin-bottom: 0.4em;
      font-size: 4em;
    }

    a {
      color: $brand-primary;
    }

    span {
      font-size: 1.2em;
      color: $brand-primary;
    }

    padding: .3em 2em 1em 2em;
    margin: 1em 0 3em 0;
    border-bottom: 10px solid $gray-lighter;
    height: 220px;
  }
}

.alert {
  margin-top: 1em;
}
.container .jumbotron{
  padding: 3em 0 2em 0;
}
.header-fluid {
  margin: 0;
  padding: 0.5em 0 2em 0;
  background-color: $gray-lighter;
}

.red-logo {
  color: #c00;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.btn-login {
  @include button-variant(#fff , $brand-primary, $brand-primary);

  padding: 0.8em;
  font-size: 1.4em;
}

.well {
  box-shadow: none;
}